body {
background-color: #3b5998;
font-family: 'KlavikaRegularPlain';
    src: url('klavikaregular-plain-webfont.eot');
    src: url('klavikaregular-plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('klavikaregular-plain-webfont.woff') format('woff'),
         url('klavikaregular-plain-webfont.ttf') format('truetype'),
         url('klavikaregular-plain-webfont.svg#KlavikaRegularPlain') format('svg');
    font-weight: normal;
    font-style: normal;
}

table, th, td {
  border: 1px solid black;
  width=100%;
}

tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {0
background-color: grey;
}

h1 {
color: white
}

h2, h3, h4, h5, h6 {
text-decoration: underline;
color: white;
}

#gallery {
	position: relative;
	margin: 0;
	background: none;
}

#gallery figure {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 2em;
	z-index: 1;
	animation: wechseln 10s infinite;
}

#gallery figure:last-of-type {
	position: relative;
}

@keyframes wechseln {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

#gallery figure:nth-of-type(2) {
	animation-delay: 5s;
	opacity: 0;
}

#gallery figure:nth-of-type(3) {
	animation-delay: 10s;
	opacity: 0;

ul {
  list-style-type: square;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
